numpy<2.0
functions-framework
Flask==2.3.2
Flask-Cors==5.0.1
google-cloud-storage==2.19.0
google-cloud-aiplatform==1.92.0
google-cloud-firestore==2.11.0
faiss-cpu==1.7.4
PyPDF2==3.0.1
transformers==4.33.0
